<style>
.borderless td, .borderless th {
    border: none;
}
</style>

<div class="row mt-2">
    <div class="col-8">
        <%= link_to 'Seguir comprando', products_path %>
        <table class='table borderless'>
            <thead>
                <tr>
                <th scope="col">Producto</th>
                <th scope="col">Cantidad</th>
                <th scope="col">Precio</th>
                <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <% @shopping_cart.shopping_cart_product.each do |product| %>
                    <tr>
                        <th scope="row"><%= product.product.name %></th>
                        <td><%= product.quantity %></td>
                        <td><%= product.product.price %></td>
                        <td>
                            <form action="<%= shopping_cart_destroy_path %>" method='POST'>
                                <input type="hidden" value="<%= product.product.id %>" name="product_id">
                                <input type="submit" class="btn btn-danger" value="Eliminar">
                            </form>
                        </td>
                    </tr>
                <% end %>
            </tbody>
        </table>
    </div>

    <div class="col">
        <div class="card">
            <div class="card-body"> 
                <h5>Resumen del pedido</h5>
                <p><strong>STATUS: <%= @shopping_cart.status %></strong></p>
                <table class='table table-borderless'>
                    <thead>
                        <tr>
                            <th scope="col"></th>
                            <th scope="col"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Total</td>
                            <td>$<%= @shopping_cart.total %></td>
                        </tr>
                    </tbody>
                </table>
                <%= link_to 'PAGAR', shopping_cart_complete_path, class:'btn btn-warning', method: :post %>
            </div>
        </div>
    </div>
</div>