<div class="row mt-2">
  <div class="col">

      <div class="row">
        <div class="col-6">
            <h2>Listado de productos</h2>
        </div>

        <div class="col-6 text-right">
            <%= link_to 'Nuevo producto', new_product_path, class:'btn btn-info' %>
        </div>
      </div>
      
      <br>
      <div class="row">
        <div class="col">
          <form action="<%= products_path %>">

            <div class="input-group md-form form-sm form-2 pl-0">
              <input class="form-control" type="text" placeholder="Search" aria-label="Search" name="q">
              <div class="input-group-append">
                <span class="input-group-text red"><i class="fas fa-search text-grey" aria-hidden="true"></i></span>
              </div>
            </div>

          </form>
        </div>
      </div>

      <br>
      <div class="row mt-2">
        <div class="col">

            <table class="table">
              <thead>
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">Nombre</th>
                  <th scope="col">Código</th>
                  <th scope="col">Cantidad</th>
                  <th scope="col">Precio</th>
                  <th scope="col"></th>
                </tr>
              </thead>
              <tbody>
                  <% @products.each do |product| %>
                    <tr>
                    <td><%= product.id %></td>
                      <td><%= product.name %></td>
                      <td><%= product.code %></td>
                      <td><%= product.stock %></td>
                      <td><%= product.price %></td>
                      <td>
                        <%= link_to 'Ver', product, class:'btn btn-info' %>
                        <%= link_to 'Editar', edit_product_path(product), class:'btn btn-warning' %>
                        <%= link_to 'Eliminar', product, method: :delete, class:'btn btn-danger', data: { confirm: 'Realmente desea eliminar el producto?' } %>
                      </td>
                    </tr>
                  <% end %>
              </tbody>
            </table>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <%= will_paginate @clients, renderer: WillPaginate::ActionView::BootstrapLinkRenderer %>

        </div>
      </div>

  </div>
</div>